<%= form_with(model: factura, local: true) do |form| %>
  <% if factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(factura.errors.count, "error") %> prohibited this factura from being saved:</h2>

      <ul>
      <% factura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row col-sm-4" >
    <%= form.label :numFactura, "No. factura"%>
    <%= form.number_field :numFactura, id: :factura_numFactura,class:"form-control" %>
  </div>

  <div class="field row col-sm-8">
    <%= form.label :fecha, "Fecha"%>
  </div>

  <div class="field row col-sm-8">
    <%= form.datetime_select :fecha, id: :factura_fecha,class:"form-control" %>
  </div>


  <div class="field row col-sm-4" >
    <%= form.label :idProveedor, "Proveedor"%>
    <% opciones = options_from_collection_for_select(@proveedores, "id","nombre",@factura.idProveedor) %>
    <%= form.select(:idProveedor, opciones,{},{class:"form-control"} ) %>
  </div>

  <div class="field row col-sm-4" >
    <%= form.label :concepto, "Concepto" %>
    <%= form.text_field :concepto, id: :factura_concepto,class:"form-control" %>
  </div>

  <div class="field row col-sm-4" >
    <%= form.label :valor, "Valor" %>
    <%= form.text_field :valor, id: :factura_valor,class:"form-control" %>
  </div>

  <div class="field row col-sm-4" >
    <%= form.label :comentarioFactura, "Comentario" %>
    <%= form.text_field :comentarioFactura, id: :factura_comentarioFactura,class:"form-control" %>
  </div>

  <div class="field row col-sm-4" >
    <%= form.label :idEstadoFactura, "Estado" %>
    <% opciones = options_from_collection_for_select(@estados, "id","valor",@factura.idEstadoFactura) %>
    <%= form.select(:idEstadoFactura, opciones,{},{class:"form-control"} ) %>
  </div>
    <%= puts @factura.idEstadoFactura %>

  <div class="field row col-sm-4" hidden>
    <%= form.label :eliminado %>
    <%= form.text_field :eliminado, id: :factura_eliminado,class:"form-control", :value => 0 %>
  </div>

  <div class="actions" >
    <%= form.submit "Guardar", :class=>"btn btn-success" %>
  </div>
<% end %>
