<p id="notice"><%= notice %></p>

<p>
  <strong>Numfactura:</strong>
  <%= @factura.numFactura %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @factura.fecha %>
</p>

<p>
  <strong>idProveedor:</strong>
  <%= @factura.idProveedor %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @factura.concepto %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @factura.valor %>
</p>

<p>
  <strong>Comentariofactura:</strong>
  <%= @factura.comentarioFactura %>
</p>

<p>
  <strong>Idestadofactura:</strong>
  <%= @factura.idEstadoFactura %>
</p>

<p>
  <strong>Eliminado:</strong>
  <%= @factura.eliminado %>
</p>

<%= link_to 'Modificar', edit_factura_path(@factura), class: "btn btn-success" %> |
<%= link_to 'Regresar', facturas_path, class: "btn btn-secondary" %>
