<%= form_with(model: anexo, local: true) do |form| %>
  <% if anexo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anexo.errors.count, "error") %> prohibited this anexo from being saved:</h2>

      <ul>
      <% anexo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row col-sm-4">
    <%= form.label :idTipoAnexo, "Tipo" %>
    <% opciones = options_from_collection_for_select(@tipos, "id","valor",@anexo.idTipoAnexo) %>
    <%= form.select(:idTipoAnexo, opciones,{},{class:"form-control"} ) %>
  </div>

  <div class="field row col-sm-4">
    <%= form.label :nombreArchivo, "Nombre archivo" %>
    <%= form.text_field :nombreArchivo, id: :anexo_nombreArchivo, class:"form-control" %>
  </div>

  <div class="field row col-sm-4">
    <%= form.label :ruta, "Ruta" %>
    <%= form.text_field :ruta, id: :anexo_ruta, class:"form-control" %>
  </div>

  <div class="field row col-sm-4">
    <%= form.label :idEstadoAnexo, "Estado" %>
    <% opciones = options_from_collection_for_select(@estados, "id","valor",@anexo.idEstadoAnexo) %>
    <%= form.select(:idEstadoAnexo, opciones,{},{class:"form-control"} ) %>
  </div>

  <div class="field row col-sm-4">
    <%= form.label :idEntidad, "Entidad" %>
    <% opciones = options_from_collection_for_select(@entidades, "id","valor",@anexo.idEntidad) %>
    <%= form.select(:idEntidad, opciones,{},{class:"form-control"} ) %>
  </div>

  <div class="field row col-sm-4">
    <%= form.label :idTipoEntidad, "Tipo entidad" %>
    <% opciones = options_from_collection_for_select(@tipoEntidades, "id","valor",@anexo.idTipoEntidad) %>
    <%= form.select(:idTipoEntidad, opciones,{},{class:"form-control"} ) %>
  </div>

  <div class="field row col-sm-4" hidden>
    <%= form.label :eliminado %>
    <%= form.text_field :eliminado, id: :anexo_eliminado, :value => 0 %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", :class=>"btn btn-success"%>
  </div>
<% end %>
