<%= form_with(model: consumo, local: true) do |form| %>
  <% if consumo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consumo.errors.count, "error") %> prohibited this consumo from being saved:</h2>

      <ul>
      <% consumo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row col-sm-4">
    <%= form.label :idConsumo %>
    <%= form.number_field :idConsumo, id: :consumo_idConsumo, class:"form-control"%>
  </div>

  <div class="form-group row col-sm-4">
    <%= form.label :idEquipo %>
    <%= form.number_field :idEquipo, id: :consumo_idEquipo, class:"form-control"%>
  </div>

  <div class="form-group row col-sm-4">
    <%= form.label :idPersona %>
    <%= form.number_field :idPersona, id: :consumo_idPersona, class:"form-control"%>
  </div>

  <div class="form-group row col-sm-4">
    <%= form.label :idProveedor %>
    <%= form.number_field :idProveedor, id: :consumo_idProveedor, class:"form-control"%>
  </div>

  <div class="field row col-sm-8">
    <%= form.label :fecha %>
  </div>

  <div class="field row col-sm-8">
    <%= form.datetime_select :fecha, id: :factura_fecha,class:"form-control" %>
  </div>

  <div class="form-group row col-sm-4">
    <%= form.label :valor %>
    <%= form.text_field :valor, id: :consumo_valor, class:"form-control" %>
  </div>

  <div class="form-group row col-sm-4">
    <%= form.label :comentario %>
    <%= form.text_field :comentario, id: :consumo_comentario, class:"form-control" %>
  </div>

  <div class="form-group row col-sm-4">
    <%= form.label :idTipoConsumo %>
    <%= form.number_field :idTipoConsumo, id: :consumo_idTipoConsumo, class:"form-control" %>
  </div>

  <div class="form-group row col-sm-4">
    <%= form.label :idEstadoConsumo %>
    <%= form.number_field :idEstadoConsumo, id: :consumo_idEstadoConsumo, class:"form-control" %>
  </div>

  <div class="form-group row col-sm-4">
    <%= form.label :idCategoriaConsumo %>
    <%= form.number_field :idCategoriaConsumo, id: :consumo_idCategoriaConsumo, class:"form-control" %>
  </div>

  <div class="form-group row col-sm-4">
    <%= form.label :kilometraje %>
    <%= form.text_field :kilometraje, id: :consumo_kilometraje, class:"form-control" %>
  </div>

  <div class="form-group row col-sm-4">
    <%= form.label :cant %>
    <%= form.number_field :cant, id: :consumo_cant, class:"form-control" %>
  </div>

  <div class="form-group row col-sm-4">
    <%= form.label :idUnidadMedida %>
    <%= form.number_field :idUnidadMedida, id: :consumo_idUnidadMedida, class:"form-control" %>
  </div>

  <div class="form-group row col-sm-4">
    <%= form.label :idRubro %>
    <%= form.number_field :idRubro, id: :consumo_idRubro, class:"form-control" %>
  </div>

  <div class="form-group row col-sm-4">
    <%= form.label :numFactura %>
    <%= form.number_field :numFactura, id: :consumo_numFactura, class:"form-control" %>
  </div>

  <div class="form-group row col-sm-4">
    <%= form.label :idUsuario %>
    <%= form.number_field :idUsuario, id: :consumo_idUsuario, class:"form-control" %>
  </div>

  <div class="form-group row col-sm-4" hidden>
    <%= form.hidden_field :eliminado, id: :consumo_eliminado, class:"form-control", :value => 0 %>
  </div>

  <div class="form-group row col-sm-4">
    <%= form.label :idFacturas %>
    <%= form.number_field :idFacturas, id: :consumo_idFacturas, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", :class=>"btn btn-success" %>
    <%= link_to 'Eliminar', consumo, :class => "btn btn-danger", method: :delete, data: { confirm: 'Confirme Eliminación?' } %>
  </div>
<% end %>
