<h4> Información de Consumo</h4>
<hr class="division">
<div class="container" id="contenido">
  <%= link_to 'Regresar', consumos_path,class:"btn btn-secondary" %>
  <%= link_to 'Modificar', edit_consumo_path(@consumo),class:"btn btn-success" %>
  <p id="notice"><%= notice %></p>

  <table class="table">
    <tr>
      <th class="text-center">Id</th>
      <th class="text-center">Equipo</th>
      <th class="text-center">Fecha</th>
      <th class="text-center">Valor</th>
      <th class="text-center">Tipo</th>
      <th class="text-center">Estado</th>
      <th class="text-center">Categoria</th>
      <th class="text-center">Kilometraje</th>
      <th class="text-center">Cantidad</th>
      <th class="text-center">Unid. medida</th>
      <th class="text-center">Rubro</th>
    </tr>
    <tr>
      <td><%= @consumo.id %></td>
      <td><%= @consumos[@consumos.index{ |c| c["id"] == @factura.id}]["equipo"] %></td>
      <td><%= @consumo.fecha.to_date %></td>
      <td><%= @consumo.valor %></td>
      <td><%= @consumos[@consumos.index{ |c| c["id"] == @factura.id}]["tipo"] %></td>
      <td><%= @consumos[@consumos.index{ |c| c["id"] == @factura.id}]["estado"] %></td>
      <td><%= @consumos[@consumos.index{ |c| c["id"] == @factura.id}]["categoria"] %></td>
      <td><%= @consumo.kilometraje %></td>
      <td><%= @consumo.cant %></td>
      <td><%= @consumos[@consumos.index{ |c| c["id"] == @factura.id}]["unidad"] %></td>
      <td><%= @consumos[@consumos.index{ |c| c["id"] == @factura.id}]["rubro"] %></td>


    </tr>
  </table>
</div>